/FACT-Finder .NET Library.suo
/FACT-Finder .NET Library.vsmdi
/FACT-Finder .NET Library.v11.suo
/FactFinder/obj
/FactFinder/bin
/FactFinderTests/obj
/FactFinderTests/bin
/TestResults
/DemoShop/Bin
/packages
/DemoShop/ff.log*
/countloc.ps1
