<div id="footerLogo"><img src="@Href("~/files/images/Omikron-Logo-small.gif")" alt=""/></div>
<div id="footerText">@Resources.Footer.Copyright</div>
<div id="footerLink"><a href="http://dev1.fact-finder.de/Demoshop6.1/jsp/search/demoshop.info.jsp">@Resources.Footer.Contact</a></div>