<div class="suggestFormWrap" >
	<form action="@Href("~")" method="GET" name="search_word_inc">
		<input type="hidden" name="queryFromSuggest" />
		<!-- input type="hidden" name="{* $channelParam *}" value="{* channel *}" / -->
		<input type="text" name="query" id="query" value=
            @if(true /*$ffparams->getQuery() == '' || $ffparams->isNavigation()*/){
			    @: "enter search query..." class="default"
			} else {
				@: "@Request.QueryString["query"]"
            }
			autocomplete="off" />

		<input type="image" id="submit" src="@Href("~/files/images/searchbox_button_en.png")"/>
		<div id="suggestLayer" class="suggestLayer"></div>
		<script type="text/javascript">
		<!--
				var suggest				= new FFSuggest();
				var searchURL			= 'suggest.cshtml';
				var formname			= 'search_word_inc';
				var queryParamName		= 'query';
				var channelParamName	= 'channel';
				var channel				= '';
				var divLayername		= 'suggestLayer';
				var instanceName		= 'suggest';
				var debugMode			= false;
				var showImages          = false;
				suggest.init(searchURL, formname, queryParamName, divLayername, instanceName, debugMode, channelParamName, channel, showImages);
				document.onmousedown = suggest.hideLayerOutsideCall;
		// -->
		</script>
	</form>
</div>