<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="connection" type="Omikron.FactFinder.Configuration.ConnectionSection,
                                         FactFinder"/>
        <section name="parameters" type="Omikron.FactFinder.Configuration.ParametersSection,
                                         FactFinder"/>
    </configSections>

    <connection
        protocol="Http"
        address="demoshop.fact-finder.de"
        port="80"
        context="FACT-Finder"
        channel="de"
        language="de"
    >
        <authentication 
            type="Simple"
            username="user"
            password="userpw"
            advancedPrefix="FACT-FINDER"
            advancedPostfix="FACT-FINDER"
        />
    </connection>

    <parameters>
        <!-- parameter settings for the server -->
        <server>
            <ignore>
                <add name="sid" />
                <add name="password" />
                <add name="username" />
                <add name="timestamp" />
            </ignore>
            <mapping>
                <add name="keywords" mapTo="query" />
            </mapping>
        </server>

        <!-- parameter settings for the client -->
        <client>
            <ignore>
                <add name="xml" />
                <add name="format" />
                <add name="channel" />
                <add name="password" />
                <add name="username" />
                <add name="timestamp" />
            </ignore>
            <require>
                <add name="test" default="value"/>
            </require>
            <mapping>
                <add name="query" mapTo="keywords" />
            </mapping>
        </client>
    </parameters>
    
</configuration>